{{page-title "View"}}
<div class="flex flex-col space-y-6">

  <div>
    <h2 class="text-2xl float-left">{{this.model.description}}</h2>
    <LinkTo @route="items.edit" @model={{this.model.id}} class="button edit float-right">Edit</LinkTo>
    <button {{on "click" (fn this.deleteItem this.model)}} type="button" class="button delete float-right">Delete</button>
  </div>
  <div>
    <h4>Sales Report</h4>
    <table>
      <thead>
        <tr>
          <th class="w-32 text-left">Week</th>
          <th class="w-16 text-left">Qty</th>
          <th class="w-32 text-left">Total Sales</th>
          <th class="w-32 text-left">Total Cost</th>
          <th class="w-32 text-left">Profit Margin</th>
        </tr>
      </thead>
      <tbody>
        {{#each (sort-by "business_date:asc" this.weekly_sales) as |sale|}}
          <tr>
            <td>{{format-date sale.business_date "MM/DD/YYYY"}}</td>
            <td>{{sale.total_qty}}</td>
            <td>{{format-number sale.total_sales style="currency" currency="USD"}}</td>
            <td>{{format-number sale.total_cost style="currency" currency="USD"}}</td>
            <td><ProfitMargin @sales={{sale.total_sales}} @cost={{sale.total_cost}} /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>