{{page-title "Sales Report"}}
<h2 class="text-2xl">Weekly Sales Report</h2>
<div class="flex flex-col space-y-6">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Sales</th>
        <th>Profit Margin</th>
      </tr>
    </thead>
    <tbody>
      {{#each (sort-by "business_date:asc" this.sales) as |sale|}}
        <tr>
          <td>{{format-date sale.business_date 'MM/DD/YYYY'}}</td>
          <td>{{format-number sale.total_qty}}</td>
          <td>{{format-number sale.total_cost style="currency" currency="USD"}}</td>
          <td>{{format-number sale.total_sales style="currency" currency="USD"}}</td>
          <td><ProfitMargin @sales={{sale.total_sales}} @cost={{sale.total_cost}} /></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>